* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 500px;
  background-image: url(img/background.jpg);
}
.logo {
}
.logo img {
  width: 80px;
}
h1 {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
label {
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form div {
  margin-top: 20px;
}
input,
select {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid rgb(0, 0, 0) 2px;
}
.prix {
  display: grid;
  grid-template-columns: 50% 50%;
}
.checkbox input {
  width: auto;
}
.submit input {
  border-style: none;
  background-color: #217a0a;
  color: white;
  text-align: center;
}

/*media query pour responsive le site web*/
@media screen and (min-width: 992px) {
  body {
  }
}
